@model TennisWeb.CF.Match
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>Create Slot</h2>
            @foreach (var slot in ViewBag.SlotList as List<TennisWeb.CF.Slot>)
            {
                var currentTime = DateTime.Now.TimeOfDay;
                if (slot.Start > currentTime)
                {
                    <p value="@slot.Id">@slot.Name - @slot.Start to @slot.End</p>
                }

            }

            @using (Html.BeginForm("Store", "Match", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
            {

                <div class="form-group">
                    @Html.LabelFor(model => model.Time)
                    <input type="date" id="Time" name="Time" class="form-control" required="required" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <div class="invalid-feedback">Select Date.</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SlotId)
                    <select id="SlotId" name="SlotId" class="form-control" required="required">
                        <option value="">-- Select Slot --</option>
                        @foreach (var slot in ViewBag.SlotList as List<TennisWeb.CF.Slot>)
                        {
                            <option value="@slot.Id" @(slot.Start < DateTime.Now.TimeOfDay ? "disabled" : "")>
                                @slot.Name - @slot.Start.ToString("hh\\:mm") to @slot.End.ToString("hh\\:mm")
                            </option>
                        }
                    </select>
                    <div class="invalid-feedback">Select Slot.</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoachId)
                    <select id="CoachId" name="CoachId" class="form-control" required="required">
                        <option value="">-- Select Slot --</option>
                        @foreach (var coach in ViewBag.CoachList as List<TennisWeb.CF.CoachInfo>)
                        {
                            <option value="@coach.Id">@coach.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback">Select Slot.</div>
                </div>



                <button type="submit" class="btn btn-primary">Submit</button>
            }
        </div>
    </div>

</div>


<script>
            // Example of form validation using Bootstrap's native validation classes
            (function () {
                'use strict';

                var forms = document.querySelectorAll('.needs-validation');

                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add('was-validated');
                        }, false);
                    });
            })();
</script>
