@model List<TennisWeb.CF.MatchPlayer>
@{
    ViewBag.Title = "Match";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @ViewBag.ErrorMessage
    </div>
}

@if (Model != null && Model.Any())
{
    foreach (var matchPlayer in Model)
    {
        <div>
            <h2>Match Player Information</h2>
            <p><strong>Player Name:</strong> @matchPlayer.PlayerInfo.Name</p>

            <h3>Match Information</h3>
            <p><strong>Match ID:</strong> @matchPlayer.Match.Id</p>
            <p><strong>Match Date:</strong> @matchPlayer.Match.Time</p>

            <h3>Slot Information</h3>
            <p><strong>Slot Name:</strong> @matchPlayer.Match.Slot.Name</p>
            <p><strong>Slot Start:</strong> @matchPlayer.Match.Slot.Start</p>
            <p><strong>Slot End:</strong> @matchPlayer.Match.Slot.End</p>

            <h3>Coach Information</h3>
            <p><strong>Coach Name:</strong> @matchPlayer.Match.CoachInfo.Name</p>
        </div>
        <hr />
    }

}
else
{
    <p>No match information available for the specified match ID.</p>
}


