@model List<TennisWeb.CF.PlayerInfo>

@{
    ViewBag.Title = "Player List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid my-2">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Players</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="" class="btn btn-primary">New Player</a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Player List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="player_table" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Position</th>
                                    <td>Status</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var player in Model)
                                    {
                                        <tr>
                                            <td>@player.Id</td>
                                            <td>@player.User.Password</td>
                                            <td> @player.User.Email </td>
                                            <td>@player.PlayingPosition</td>
                                            <td>@player.User.Status</td>
                                            <td class="text-center">
                                                <a class="change-status" href="#" data-edit-id="@player.Id">
                                                    '<i class="fa fa-edit"></i>
                                                </a> ||
                                                <a class="delete" href="#" data-delete-id="@player.Id">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="text-center">
                                        <td colspan="6">No Player Found</td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

<script>
    $(function () {
        $('#player_table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                { "orderable": true }
            ]
        });

    $('.delete').on('click', function(event) {
        event.preventDefault();

            var deleteId = parseInt($(this).data("delete-id"));
            console.log(deleteId);
        Swal.fire({
            title: 'Delete Player ?',
            text: 'All the information related to this player will be deleted.',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {

                var url = '@Url.Action("DeletePlayer", "Player", new { id = "PLACEHOLDER" })'.replace('PLACEHOLDER', deleteId);
                $.ajax({
                    url: url, // Replace with the actual endpoint URL
                    type: 'get',
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Success!',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'OK',
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'Error!',
                                text: response.message,
                                icon: 'error',
                                confirmButtonText: 'OK',
                                allowOutsideClick: false
                            });
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        Swal.fire({
                            title: 'Error!',
                            text: error.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });

    });

    $('.change-status').on('click', function(event) {
        event.preventDefault();

        Swal.fire({
            title: 'Change Status ?',
            text: 'Are you sure you want to change status?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                var editId = parseInt($(this).data("edit-id"));
                var url = '@Url.Action("ChangeStatus", "Player", new { id = "PLACEHOLDER" })'.replace('PLACEHOLDER', editId);
                $.ajax({
                    url: url, // Replace with the actual endpoint URL
                    type: 'get',
                    dataType: 'json',
                    success: function (response) {
                      
                        if (response.success) {
                            Swal.fire({
                                title: 'Success!',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'OK',
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'Error!',
                                text: response.message,
                                icon: 'error',
                                confirmButtonText: 'OK',
                                allowOutsideClick: false
                            });
                        }
                    },
                    error: function (error) {
                       
                        Swal.fire({
                            title: 'Error!',
                            text: error.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });

    });
});
</script>